.selected {
  border: 2px solid blue;
}

body {
  background: url("../images/fantasy\ background.jpg");
}

section {
  margin-top: 250px;
  text-align: center;
  background-color: aliceblue;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#time {
  padding-top: 20px;
  font-size: 2.5em;
}

#timer {
  padding-top: 20px;
  font-size: 2.5em;
}

#grading {
  font-size: 2.5em;
}

#timer {
  text-align: center;
}

.timeUp {
  z-index: 2;
}

#donut {
  width: 100%;
}
